body {
  /*background-color: #f5f5f5;*/
  width: 100vw;
  min-width: 1100px;
  margin: 0;
}

header {
}

#header-top {
  position: fixed;
  top:0;
  left: 0;
  z-index: 1;
  background-color: #0068B6;
  padding: 0 40px;
  width: 100vw;
  height: 100px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 2px 2px 0 rgba(0,0,0,0.12);
  box-sizing: border-box;
}

#header-top nav {
  float: right;
  height: 100%;
  line-height: 100px;
}

#header-top nav a{
  margin: 0px 20px;
  color: #ffffff;
}

#logo {
  height: 100%;
  float: left;
}

#logo > img{
  height: 100%;
}

#header-img {
  margin-top: 100px;
  position: relative;
  width: 100vw;
  height: 500px;
  overflow: hidden;
}

#header-img img{
  width: 100%;
}

#header-img p{
  font-size: 52px;
  color: #ffffff;
  position: absolute;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 50px;
  margin-left: 50px;
  top: 0;
  left: 0;
}

main {
  /*background: #ffffff;*/
}


main > section {
  padding-bottom: 60px;
  padding-top: 100px;
  background-color: #0068B6;
  color: #f5f5f5;
}

/*main > section{
}*/

main > section > div{
  padding: 0 200px;
}

/*main > section:nth-child(even){
  background-color: #f5f5f5;
  color: #0068B6;
}*/
section  h1 {
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  color: #0068B6;
  width: 100%;
  margin-bottom: 60px;
  transform: rotate(-1deg);
}



/*----News-----------------------------------------------------------------------*/
#news {
}

#news-content {
}

#news-content ul{
  margin: 0;
  list-style: none;
  border: solid 1px;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: #ffffff;
  padding: 20px 100px;
}

#news-content li {
  color: #302F2B;
  padding: 5px 0px;
}

#news-content a {
  color: #7E8080
}

#news-content-footer {
  background-color: #eeeeee;
  padding: 10px;
  text-align: center;
}

#news-content-footer a{
  color: #302F2B;
}

/*--member----------------------------------------------------------------------------------*/
#member-list section h3{
  width: 100%;
  text-align: left;
  overflow: scroll;
}
.member {
  width: 240px;
  margin-left: 2.5%;
  margin-bottom: 20px;
  /*float: left;*/
  color: #ffffff;
  text-align: center;
  position: relative;
}
.member img {
  width: 100%;
  border-radius: 50%;
}

.member .profile {
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 5px;
  bottom: 0;
  left: 0;
}

.member .name {
  margin-right: 20px;
}

.horizontal {
    white-space: nowrap;
    overflow-x: scroll;
}


.horizontal > * {
  display: inline-block;;
}

.scroll-more {
  font-size: 18px;
  text-align: right;
  color: #ffffff;
}
